/* ===== CHART SECTION ===== */
.chart-container {
  width: 450px;
  padding: 20px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
  text-align: center;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}

.chart-container canvas {
  max-width: 100%;
  height: auto !important;
  flex: 1;
}

.chart-container h3 {
  margin-bottom: 15px;
  font-size: 18px;
  color: #333;
}