/* ===== TABLE STYLES ===== */
.table-container {
  background: #fff;
  border-radius: 8px;
  overflow-x: auto;
  overflow-y: visible;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
  min-width: 800px;
}

thead {
  background: #f9f9f9;
  text-align: left;
}

th,
td {
  padding: 14px;
  border-bottom: 1px solid #eee;
  font-size: 14px;
  white-space: nowrap;
}

td a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}