@import url("common.css");

/* Add spacing between sections */
.summary-overview,
.recent,
.reviews {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #39663e;
  color: #fff;
  padding: 15px;
  border-radius: 6px;
  margin-bottom: 20px;
}

.profile-info {
  display: flex;
  align-items: center;
  gap: 15px;
}

.role {
  background: #222;
  padding: 2px 8px;
  border-radius: 4px;
  font-size: 12px;
}

.btn-outline {
  background: rgb(160, 151, 151);
  border: 1px solid #fff;
  color: #fff;
  padding: 6px 12px;
  cursor: pointer;
}

.btn-black {
  background: rgb(160, 151, 151);
  color: #fff;
  border: 1px solid #fff;
  padding: 6px 12px;
  cursor: pointer;
}

.stats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 15px;
}

.stat {
  background: #fff;
  padding: 25px;
  border-radius: 6px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.list .item, .review {
  padding: 25px;
  border-bottom: 1px solid #ddd;
}

footer {
  margin-top: 20px;
  background: #333;
  color: #fff;
  padding: 15px;
  text-align: center;
}

footer ul {
  list-style: none;
}

footer ul li {
  display: inline;
  margin: 0 60px;
}

footer ul li a {
  color: #fff;
  text-decoration: none;
}
