
/* ===== BUTTONS ===== */

*{
  text-decoration: none;
}

.btn {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.back-button {
  background: #fff;
  border: 1px solid #333;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
}

.back-btn-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 15px;
}

.back-btn {
  position: fixed;       
  bottom: 50px;           
  right: 20px;             
  padding: 12px 20px;
  border: none;
  border-radius: 50px;
  background: #0077b6;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
  display: flex;
  align-items: center;
  gap: 6px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  z-index: 1000;         
}

.back-btn:hover {
  background: #0b6bcb;
}

.accept-btn, .reject-btn {
  padding: 6px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  margin: 0 4px;
}

.accept-btn {
  background-color: #28a745;
  color: white;
}

.accept-btn:hover {
  background-color: #218838;
}

.reject-btn {
  background-color: #dc3545;
  color: white;
}

.reject-btn:hover {
  background-color: #c82333;
}

button {
  padding: 10px 18px;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
}

button.cancel {
  background: #eee;
  color: #333;
}

button.save {
  background: #007bff;
  color: #fff;
}

.register-btn {
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
}

.login-btn {
  background: #040404;
  color: #fff;
  border: none;
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.add-vehicle {
  background: #007bff;
  color: #fff;
}