/* ===== FOOTER ===== */
footer {
  background-color: #b8bdb8;
  color: white;
  padding: 15px 0;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 999;
}

footer ul {
  list-style: none;
  padding: 0;
}

footer ul li {
  display: inline;
  margin: 0 10px;
}

footer ul li a {
  color: rgb(110, 151, 80);
  text-decoration: none;
  font-size: 14px;
}
